<!-- 

    BASED OFF POSTS.HTML

 -->


{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 18rem;">
    <img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.caption }}</p>
    </div>
</div>

{% if post.user_id == current_user.id %}
<!-- UPDATE BUTTON -->
<a href="{{ url_for('ig.updatePost', post_id=post.id) }}" type="button" class="btn btn-primary">Update</a> <!-- was changed from a button to an a-tag, and the href link is using jinja to call the update post url -->




<!-- DELETE BUTTON -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Warning. This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{{ url_for('ig.deletePost', post_id=post.id) }}" method="POST"> <!-- in order to have the delete button function, we had to add the action= -->
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}