<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a> <!-- url_for() is a jinja function that takes in the name of a function and returns the url for that function, but for home, we could have also just used href="/" which represents the home page -->
                    <!-- We are using url_for to have the option to create dynamic routes, where the last thing in the url path is a variable that can change -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('shop.allProducts') }}">Shop</a>
                </li>
                <!-- current_user is a global variable we have access to because of LoginManager in __init__ and .is_authenticated is an attribute that comes with current_user -->
                {% if current_user.is_authenticated %} <!-- % % inside curly braces is for expressions (like a command), double curly braces is for a variable -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ig.createPost') }}">Create Post</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logMeOut') }}">Log Out</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logMeIn') }}">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signMeUp') }}">Sign Up</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ current_user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('shop.showCart') }}" tabindex="-1" aria-disabled="true"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
            <form class="d-flex" action="{{ url_for('pokemon.myPokemon') }}" method="POST">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>